<% if resource.errors.any? %>
  <div class="mb-4 p-3 bg-red-50 border border-red-200 text-red-700 rounded-md text-sm">
    <ul class="list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
