<div class="max-w-xl mx-auto">
  <h1 class="text-2xl font-semibold text-gray-900"><%= t("groups.edit_title", name: @group.name) %></h1>

  <div class="mt-6 bg-white shadow-sm rounded-lg border border-gray-200 p-6">
    <%= render "form" %>
  </div>
</div>
